.btn-link {
	@include animate (background-color border-bottom-color);

	@include media ('<tablet') {
		font-size: 14px;
	}
	
	display: inline-block;	
	padding: 17px 70px;
	background-color: $button-background-color;
	border: none;
	color: $button-text-color;
	font-size: 18px;
	font-weight: 700; 
	border-radius: 3px;
	border-bottom: 2px solid $button-border-color;
	text-transform: uppercase;

	&:hover {
		color: $white;
		background-color: $button-background-color-hover;
		border-bottom-color: $button-border-color-hover;
	}
}